<div class="container-fuild">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="panel panel-default center">
				<div class="panel-heading">
					<h3 class="panel-title"><h3>Quản Lý Mật Khẩu</h3></h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" name="form" ng-submit="changePassword()">
							<div class="form-group">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<b>Nhập mật khẩu hiện tại:</b>
								</div>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="password" id="input" class="form-control" required="required" ng-model="password.current">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<b>Nhập mật khẩu mới:</b>
								</div>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="password" id="input" class="form-control" required="required" ng-model="password.new">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<b>Nhập lại mật khẩu mới:</b>
								</div>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="password" id="input" class="form-control" required="required" ng-model="password.reNew" ng-change="checkDifferent()">
								</div>
							</div>
							
							<div class="alert alert-danger form-group" ng-show="different">
								Mật khẩu không trùng khớp!
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
									<button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="panel mobile-hidden">
				<h3 class="center">Bài đăng vừa xem</h3>
				<div class="container-fluid">
					<div class="row" ng-repeat="post in previousPosts" style="padding: 5px 5px 5px 5px; margin-top: 10px; background-color: #EEEEEE; border-radius: 10px">
						<div class="col-sm-4 image no-padding">
							<a href="" ng-click="getPostDetail(post)"><img class="img-rounded" ng-src="{{post.picture.url}}" alt="Image"></a>
						</div>
						<div class="col-sm-8">
							<a href="" ng-click="getPostDetail(post)" ><b>{{post.title}}</b></a>
							<br>
							<b class="price">{{post.price|number:0}} VND</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>