<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="panel panel-default center">
				<div class="panel-heading ">
					<h3 class="panel-title"><h3>Bài Viết Đã Đăng</h3></h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="center">Tiêu Đề</th>
									<th class="center">Giá Bán</th>
									<th class="center">Ngày Đăng</th>
									<th class="center">Quản Lý</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="post in posts" ng-model="post">
									<td><b>{{post.title}}</b></td>
									<td class="price">{{post.price| number:0}} VND</td>
									<td><i>{{post.creationDate | date:'dd-MM-yyyy'}}</i></td>
									<td>
										<button type="button" class="btn btn-info" ng-click="EditPost(post)">Chỉnh Sửa</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-include="'/views/layout/previousPosts.html'" scope="" onload="">
			
		</div>
	</div>
</div>