<div class="container-fluid">
	<div id="content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 new-post">
				<form class="form-horizontal" role="form" name="form" ng-submit="submitNewPost()">
					<div class="form-group center">
						<legend>Đăng bán</legend>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="name">Tên:</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<input type="text" id="name" class="form-control" required="required" placeholder="Tên" value="{{user.name}}" disabled> 
							<span class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="phonenumber">Số điện thoại: </label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<input type="tel" id="email" class="form-control" required="required" placeholder="Email" value="{{user.phone}}" disabled>
							<span class="glyphicon glyphicon-envelope form-control-feedback"></span>	
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="phonenumber">SDT khác:</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<input type="tel" name="" id="phonenumber" class="form-control" placeholder="Số Điện Thoại" ng-model="newPost.phone">
							<span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>	
						</div>
					</div>
						
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="address">Địa chỉ:</label>
						<div id="address">
							<div class="col-sm-5">
								<select ng-options="province as province.name for province in provinces | limitTo:provinces.length:1" class="form-control" ng-model="newPost.province" ng-change="provinceChange()">
									<option value="">Chọn tỉnh</option>
								</select>
							</div>
							<div class="col-sm-5">
								<select ng-options="couty as couty.name for couty in couties" class="form-control" ng-model="newPost.couty">
									<option value="">Chọn huyện</option>
								</select>
							</div>			
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="address2"></label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<input type="text" id="address2" class="form-control" required="required" placeholder="Số nhà - Tên đường" ng-model="newPost.address">
							<span class="glyphicon glyphicon-home form-control-feedback"></span>	
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="title">Tiêu đề:</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<input type="text" id="title" class="form-control" required="required" placeholder="Bạn muốn bán gì?" ng-model="newPost.title">
							<span class="glyphicon glyphicon-pencil form-control-feedback"></span>	
						</div>
					</div>
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="title">Loại: </label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<select ng-options="category as category.name for category in categories|limitTo: categories.length : 1" class="form-control" ng-model="newPost.category">
							</select>
						</div>
					</div>	
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="title">Giá bán: </label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<input type="number" id="title" class="form-control" required="required" min="{500"} max="" step="500"  placeholder="VND" ng-model="newPost.price">
							<span class="glyphicon glyphicon-pencil form-control-feedback"></span>
						</div>
					</div>				
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="picture">Ảnh:</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-center">
							<button type="button" class="btn btn-default" ng-click="upload()">
								Upload <span class="caret"></span>
							</button>
							<div style="margin-top:10px;">
								<!-- Show the thumbnail only when the picture is uploaded -->
								<a href="{{newPost.picture.url}}" class="thumbnail" ng-if="newPost.picture" target="_blank">
								<!-- the picture is rendered with width: 500 and sharpened -->
								<img ng-src="{{newPost.picture.url | fpConvert: {filter:'sharpen', w:500} }}">
								</a>
							</div>					
						</div>
					</div>
					<!-- <div class="form-group">
						<label class="control-label col-sm-2 mobile-hidden" for="picture">Thêm ảnh khác (tối đa 3 ảnh):</label>
						<div  class="col-sm-10 text-center">
							<button type="button" class="btn btn-default" ng-click="uploadMultiple()">
							Upload <span class="caret"></span>
							</button>
							Show the thumbanil of more pictures
								<div style="margin-top:10px;" ng-repeat="picture in newPost.morePictures">	 <div class="col-md-{{12 / newPost.morePictures.length}}">
									<a href="{{picture.url}}" class="thumbnail">
									  <img ng-src="{{picture.url | fpConvert: {filter:'sharpen', w:500} }}">
									</a>
								</div>	
							</div>
						</div>
					</div> -->
					<!-- <div class="form-group has-feedback">
						<label class="control-label col-sm-2" for="title">Ảnh:</label>
						<div class="col-sm-10 center">
							<div class="fileinput fileinput-new" data-provides="fileinput">
							  	<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
							  	<div>
							    	<span class="btn btn-info btn-file"><span class="fileinput-new">Chọn ảnh</span><span class="fileinput-exists">Thay đổi</span><input type="file" name="..."></span>
							    	<a href="#" class="btn btn-info fileinput-exists" data-dismiss="fileinput">Xóa</a>
							  </div>
							</div>
							<div class="fileinput fileinput-new" data-provides="fileinput">
							  	<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
							  	<div>
							    	<span class="btn btn-info btn-file"><span class="fileinput-new">Chọn ảnh</span><span class="fileinput-exists">Thay đổi</span><input type="file" name="..."></span>
							    	<a href="#" class="btn btn-info fileinput-exists" data-dismiss="fileinput">Xóa</a>
							  </div>
							</div>
							<div class="fileinput fileinput-new" data-provides="fileinput">
							  	<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
							  	<div>
							    	<span class="btn btn-info btn-file"><span class="fileinput-new">Chọn ảnh</span><span class="fileinput-exists">Thay đổi</span><input type="file" name="..."></span>
							    	<a href="#" class="btn btn-info fileinput-exists" data-dismiss="fileinput">Xóa</a>
							  </div>
							</div>
						</div>
					</div>		 -->
					<div class="form-group has-feedback">
						<label class="control-label col-sm-2 mobile-hidden" for="detai">Mô tả:</label>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<textarea name="" id="detail" class="form-control" rows="8" required="required" placeholder="Mô tả về sản phẩm này" ng-model="newPost.description"></textarea>	
						</div>
					</div>		
					<div class="form-group center">
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<button type="submit" class="btn btn-success">Đăng ngay</button>
							<button type="button" class="btn btn-primary" ng-click="back()">Trở lại</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-include="'/views/layout/previousPosts.html'" scope="" onload="">
			
			</div>
		</div>
	</div>
</div>