<div class="container-fluid">
	<div id="main-content">
		<div class="row no-padding">
			<div class="col-lg-9 panel panel-info post-info no-padding">
				<div class="panel-heading center">
					<h3 class="panel-title">{{post.title}}</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td colspan="2"><img src={{post.picture.url}} class="img-thumbnail center-img" alt="Image"></td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"></td>
									<td colspan="" rowspan="" headers="" class="price"><h3>{{post.price | number:0}} VND</h3></td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Người đăng:</b></td>
									<td colspan="" rowspan="" headers="" class="">{{user.name}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Địa chỉ:</b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.address}} - {{post.coutyId.name}} -  {{post.provinceId.name}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Ngày Đăng</b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.lastUpdateDate|date:'dd-MM-yyyy'}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Mô tả:</b></td>
									<td colspan="2" rowspan="" headers="">{{post.description}}</td>
								</tr>
								<tr ng-show="showPhone">
									<td colspan="" rowspan="" headers="" class="center"><b>SDT 1: </b></td>
									<td colspan="" rowspan="" headers="" class="">{{user.phone}}</td>
								</tr>
								<tr ng-show="showPhone">
									<td colspan="" rowspan="" headers="" class="center"><b>SDT 2: </b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.phone}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel contact no-margin">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<a href="/send-message/{{user._id}}/{{user.name}}" type="button" class="btn btn-info">Gửi tin nhắn</a>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-success" ng-click="showPhoneClick()">Xem SDT</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-warning" ng-click="reportPost()">Báo cáo bài viết</button>
						</div>
					</div>
				</div>
			</div>					
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-include="'/views/layout/previousPosts.html'" scope="" onload="">
			
			</div>
		</div>
	</div>
</div>