<div class="container-fluid">
	<div id="content">
		<div class="row">
			<div class="col-sm-12 col-lg-9 no-padding panel">
				<div class="search">
					<form action="" method="POST" class="form-horizontal" role="form">
						<div class="col-sm-12 col-lg-12 form-group search-input-group no-margin">
							<input type="text" name="" id="input" class="form-control search-input" value="" required="required" pattern="" title="" placeholder="Bạn muốn tìm gì?">
							<button type="submit" class="btn btn-info">Tìm</button>
						</div>
						<div class="col-sm-12 col-lg-12 form-group search-option-group no-margin">
							<div class="search-option">
								<select name="" id="input" class="form-control" required="required">
									<option value="">Toàn quốc</option>
									<option value="">TP.Hải Phòng</option>
									<option value="">TP.Hà Nội</option>
								</select>							
							</div>
							<div class="search-option">
								<select name="" id="input" class="form-control" required="required">
									<option value="">Tất cả danh mục</option>
									<option value="">Điện tử</option>
									<option value="">Nhà cửa</option>
								</select>
							</div>
							<div class="search-option mobile-hidden">
								<select name="" id="input" class="form-control" required="required">
									<option value="">Mọi mức giá</option>
									<option value="">Dưới 500 nghìn</option>
									<option value="">500 nghìn - 1 triệu</option>
									<option value="">1 - 3 triệu</option>
									<option value="">Trên 3 triệu</option>
								</select>
							</div>
						</div>
						<div class="clear">
							
						</div>
					</form>
				</div>

			</div>
			<div class="col-lg-3">
				<div class="panel mobile-hidden center">
					<h3>Bài đăng vừa xem</h3>
				</div>
			</div>	
		</div>
	</div>
	<div id="main-content">
		<div class="row no-padding">
			<div class="col-lg-9 panel panel-info post-info no-padding">
				<div class="panel-heading center">
					<h3 class="panel-title">{{post.title}}</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td colspan="2"><img src={{post.picture.url}} class="img-thumbnail center-img" alt="Image"></td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"></td>
									<td colspan="" rowspan="" headers="" class="price"><h3>{{post.price}} VND</h3></td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Tình trạng:</b></td>
									<td colspan="" rowspan="" headers="" class="">Mới</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Người đăng:</b></td>
									<td colspan="" rowspan="" headers="" class="">{{user.name}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Địa chỉ:</b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.address}} - {{post.province.name}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Ngày Đăng</b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.lastUpdateDate|date:'dd-MM-yyyy'}}</td>
								</tr>
								<tr>
									<td colspan="2" rowspan="" headers="" class="center"><b>Mô tả:</b></td>
								</tr>
								<tr>
									<td colspan="2" rowspan="" headers="">{{post.description}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- <div class="row">
						<div class="col-xs-6 col-sm-6 price center">
							<b>5 000 000 vnd</b> 
						</div>
						<div class="col-xs-6 col-sm-6 status center">
							<b>Còn mới</b>
						</div>
					</div>
					<div class="row image center">
						<img src="img/images/1.jpg" class="img-thumbnail" alt="Image">
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<b>Người đăng:</b> 
						</div>
						<div class="col-xs-7 col-sm-7">
							Trang
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<b>Thời gian:</b>
						</div>
						<div class="col-xs-7 col-sm-7">
							<i>7 phút trước</i>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<b>Địa chỉ:</b>
						</div>
						<div class="col-xs-7 col-sm-7">
							Trần Hưng Đạo, Q5
						</div>
					</div>
					<div class="row  center">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<b>Chi tiết:</b>
						</div>
					</div>
					<div class="row product-info">
						<div class="col-xs-12 col-sm-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div> -->
				</div>
				<div class="panel contact no-margin">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-info">Chat</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-success">Xem SDT</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-warning">Báo cáo</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>