<div class="container-fluid">
	<div id="main-content">
		<div class="row no-padding">
			<div class="col-lg-9 panel panel-info post-info no-padding">
				<div class="panel-heading center">
					<h3 class="panel-title">{{post.title}}</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td colspan="2"><img src={{post.picture.url}} class="img-thumbnail center-img" alt="Image"></td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"></td>
									<td colspan="" rowspan="" headers="" class="price"><h3>{{post.price | number:0}} VND</h3></td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Tình trạng:</b></td>
									<td colspan="" rowspan="" headers="" class="">Mới</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Người đăng:</b></td>
									<td colspan="" rowspan="" headers="" class="">{{user.name}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Địa chỉ:</b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.address}} - {{post.province.name}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Ngày Đăng</b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.lastUpdateDate|date:'dd-MM-yyyy'}}</td>
								</tr>
								<tr>
									<td colspan="" rowspan="" headers="" class="center"><b>Mô tả:</b></td>
									<td colspan="2" rowspan="" headers="">{{post.description}}</td>
								</tr>
								<tr ng-show="showPhone">
									<td colspan="" rowspan="" headers="" class="center"><b>SDT 1: </b></td>
									<td colspan="" rowspan="" headers="" class="">{{user.phone}}</td>
								</tr>
								<tr ng-show="showPhone">
									<td colspan="" rowspan="" headers="" class="center"><b>SDT 2: </b></td>
									<td colspan="" rowspan="" headers="" class="">{{post.phone}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel contact no-margin">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-info">Gửi tin nhắn</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-success" ng-click="showPhoneClick()">Xem SDT</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-warning" ng-click="reportPost()">Báo cáo bài viết</button>
						</div>
					</div>
				</div>
			</div>					
			<div class="col-lg-3" ng-controller="PreviousPostCtrl">
				<div class="panel mobile-hidden">
					<h3 class="center">Bài Đăng Đã Xem</h3>
					<div class="container-fluid">
						<div class="row" ng-repeat="post in previousPosts|orderBy:0:true" style="padding: 5px 5px 5px 5px; margin-top: 10px; background-color: #EEEEEE; border-radius: 10px">
							<div class="col-sm-4 image no-padding">
								<a href="" ng-click="getPostDetail(post)"><img class="img-rounded" ng-src="{{post.picture.url}}" alt="Image"></a>
							</div>
							<div class="col-sm-8">
								<a href="" ng-click="getPostDetail(post)" ><b>{{post.title}}</b></a>
								<br>
								<b class="price">{{post.price|number:0}} VND</b>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>