<div class="container-fluid">
	<div id="content">
		<div class="row">
			<div class="col-sm-12 col-lg-9 no-padding panel">
				<div class="search">
					<form action="" method="POST" class="form-horizontal" role="form">
						<div class="col-sm-12 col-lg-12 form-group search-input-group no-margin">
							<input type="text" name="" id="input" class="form-control search-input" value="" required="required" pattern="" title="" placeholder="Bạn muốn tìm gì?">
							<button type="submit" class="btn btn-info">Tìm</button>
						</div>
						<div class="col-sm-12 col-lg-12 form-group search-option-group no-margin">
							<div class="search-option">
								<select name="" id="input" class="form-control" required="required">
									<option value="">Toàn quốc</option>
									<option value="">TP.Hải Phòng</option>
									<option value="">TP.Hà Nội</option>
								</select>							
							</div>
							<div class="search-option">
								<select name="" id="input" class="form-control" required="required">
									<option value="">Tất cả danh mục</option>
									<option value="">Điện tử</option>
									<option value="">Nhà cửa</option>
								</select>
							</div>
							<div class="search-option mobile-hidden">
								<select name="" id="input" class="form-control" required="required">
									<option value="">Mọi mức giá</option>
									<option value="">Dưới 500 nghìn</option>
									<option value="">500 nghìn - 1 triệu</option>
									<option value="">1 - 3 triệu</option>
									<option value="">Trên 3 triệu</option>
								</select>
							</div>
						</div>
						<div class="clear">
							
						</div>
					</form>
				</div>

			</div>
			<div class="col-lg-3">
				<div class="panel mobile-hidden center">
					<h3>Bài đăng vừa xem</h3>
				</div>
			</div>
			
		</div>
	</div>
	<div id="main-content">
		<div class="row">
			<div class="col-lg-9 post-area no-padding">
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<a href="#/post" title=""><img class="img-rounded" src="img/images/1.jpg" alt="Image"></a>
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<a href="#/post" title=""><img class="img-rounded" src="img/images/1.jpg" alt="Image"></a>
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div class="post panel">
					<div class="col-xs-4 col-sm-4 col-lg-3 image">
						<img src="img/images/1.jpg" class="img-rounded" alt="Image">
					</div>
					<div class="col-xs-8 col-sm-8 col-lg-9 info">
						<div class="title">
							<h4>Điện thoại iPhone 4</h4>
						</div>
						<div class="author mobile-hidden">
							Người đăng: Thùy Dương
						</div>
						<div class="localtion mobile-hidden">
							Địa điểm: TP. Hồ Chí Minh
						</div>
						<div class="price center">
							<b>5 000 000 vnd</b>
						</div>
						<div class="time center">
							<i>7 phút trước</i>
						</div>
						<div class="category mobile-hidden">
							Danh mục: Điện tử
						</div>
					</div>
				</div>
				<div id="paging">
					<ul class="pager">
						<li><a href="#">Trang trước</a></li>
						<li><a href="#">Trang kế</a></li>
					</ul>
				</div>
			</div>
		</div>		
	</div>
</div>