<div class="container-fluid">
	<div id="content">
		<div class="row">
			<div class="col-sm-9">
				<div class="col-lg-12 no-padding panel">
					<div class="search">
						<form class="form-horizontal" role="form" name="form">
							<div class="col-sm-12 col-lg-12 form-group search-input-group no-margin">
								<input type="text" id="input" class="form-control search-input" placeholder="Bạn muốn tìm gì?" ng-model="search.title">
							</div>
							<div class="col-sm-12 col-lg-12 form-group search-option-group no-margin">
								<div class="search-option">
									<select ng-options="province as province.name for province in provinces" class="form-control" ng-model="currentProvince" ng-change="searchByProvince()">
										<option value="">- Tìm theo tỉnh thành -</option>
									</select>				
								</div>
								<div class="search-option">
									<select ng-options="category as category.name for category in categories" class="form-control" ng-model="currentCategory" ng-change="searchByCategory()">
										<option value="">- Tìm theo danh mục -</option>
									</select>
								</div>
								<div class="search-option mobile-hidden">
									<select name="" id="sort" class="form-control" ng-model="sort">
										<option value="">- Giá -</option>
										<option value="null">Mặc định</option>
										<option value="-price">Cao đến thấp</option>
										<option value="+price">Thấp đến cao</option>
									</select>
								</div>
							</div>
							<div class="clear">
							
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-12 post-area no-padding">
					<div class="post panel" dir-paginate="post in posts | orderBy:sort | filter:search | itemsPerPage:10 track by post._id">
						<div class="col-xs-4 col-sm-4 col-lg-3 image">
							<a href="" ng-click="getPostDetail(post)"><img class="img-rounded" ng-src="{{post.picture.url}}" alt="Image"></a>
						</div>
						<div class="col-xs-8 col-sm-8 col-lg-9 info">
							<div class="title">
								<h3>{{post.title}}</h3>
							</div>
							<div class="date mobile-hidden">
								Ngày Đăng: <b><i>{{post.creationDate|date:'dd-MM-yyyy'}}</i></b>
							</div>
							<div class="localtion mobile-hidden">
								Địa điểm: <b>{{post.coutyId.name}} - {{post.provinceId.name}}</b>
							</div>
							<div class="price center">
								<h3><b>{{post.price|number:0}} VND</b></h3>
							</div>
							<div class="category mobile-hidden">
								Danh mục: <b>{{post.categoryId.name}}</b>
							</div>
						</div>
					</div>
					<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" class="center pagination" style="width: 100%">
				       
				       
				    </dir-pagination-controls>
				</div >	
			</div>
			
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-include="'/views/layout/previousPosts.html'" scope="" onload="">
			
			</div>
			
		</div>
	</div>
</div>
