<div class="container-fuild">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="panel panel-default center">
				<div class="panel-heading">
					<h3 class="panel-title"><h3>Quản Lý Bài Viết</h3></h3>
				</div>
				<div class="panel-body">
					<input type="text" id="input" class="form-control" ng-model="search" placeholder="Tìm kiếm">
					<br>
					<div class="table-responsive">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th class="center">Tiêu đề</th>
									<th class="center">Loại</th>
									<th class="center">Ngày đăng</th>
									<th class="center">Ngày cập nhật</th>
									<th class="center" colspan="2">Quản lý</th>
								</tr>
							</thead>
							<tbody dir-paginate="post in posts | filter:search | orderBy:sort | itemsPerPage:10 track by post._id">
								<tr>
									<td>{{post.title}}</td>
									<td>{{post.categoryId.name}}</td>
									<td><i>{{post.creationDate | date:'dd-MM-yyyy'}}</i></td>
									<td><i>{{post.lastUpdateDate | date:'dd-MM-yyyy'}}</i></td>
									<td><button type="button" class="btn btn-info" ng-click="getPostDetail(post)">Xem Chi Tiết</button></td>
									<td>
										<button type="button" class="btn btn-warning" ng-hide="{{!post.status}}" ng-click="deactivePost(post)">Deactive Post</button>
										<button type="button" class="btn btn-success" ng-hide="{{post.status}}" ng-click="activePost(post)">Active Post</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" class="center pagination" style="width: 100%">
				       
				       
				    </dir-pagination-controls>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-controller="PreviousPostCtrl">
			<div class="panel mobile-hidden">
				<h3 class="center">Bài Đăng Đã Xem</h3>
				<div class="container-fluid">
					<div class="row" ng-repeat="post in previousPosts" style="padding: 5px 5px 5px 5px; margin-top: 10px; background-color: #EEEEEE; border-radius: 10px">
						<div class="col-sm-4 image no-padding">
							<a href="" ng-click="getPostDetail(post)"><img class="img-rounded" ng-src="{{post.picture.url}}" alt="Image"></a>
						</div>
						<div class="col-sm-8">
							<a href="" ng-click="getPostDetail(post)" ><b>{{post.title}}</b></a>
							<br>
							<b class="price">{{post.price|number:0}} VND</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>