<div class="container-fuild">
	<div class="row">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="panel panel-default center">
				<div class="panel-heading">
					<h3 class="panel-title"><h3>Chi Tiết Report</h3></h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="center" colspan="2"><h4>{{post.title}}</h4></th>
									<th class="center"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="image-300" colspan="2"><img src="{{post.picture.url}}" alt=""></td>
								</tr>
								<tr>
									<td><b>Giá Bán:</b></td>
									<td class="price">{{post.price|number:0}} VND</td>
								</tr>
								<tr>
									<td><b>SDT:</b></td>
									<td class="price">{{post.phoneNumber}}</td>
								</tr>
								<tr>
									<td><b>Địa chỉ:</b></td>
									<td>{{post.address}} - {{post.coutyId.name}} - {{post.provinceId.name}}</td>
								</tr>
								<tr>
									<td><b>Nội Dung:</b></td>
									<td>{{post.description}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="table-responsive">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th class="center" colspan="2"><h4>Báo Cáo</h4></th>
									<th class="center" style="width:40%">
										<button type="button" class="btn btn-info" ng-click="LoadAllReports()">Xem tất cả</button>
										<button type="button" class="btn btn-warning" ng-click="DeactivePost()">Ẩn bài viết</button>
										<button type="button" class="btn btn-primary" ng-click="DeactiveReport()">Bỏ qua báo cáo</button>
									</th>
								</tr>
								<tr>
									<th class="center">Người gửi</th>
									<th class="center">Ngày gửi</th>
									<th class="center">Lý do</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="report in reports| itemsPerPage:10 track by report._id">
									<td>{{report.userId.name}}</td>
									<td>{{report.createdDate|date:"HH:mm:ss 'ngày' dd-MM-yyyy"}}</td>
									<td>{{report.reason}}</td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" class="center pagination" style="width: 100%">
				       
				       
				    	</dir-pagination-controls>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-controller="PreviousPostCtrl">
			<div class="panel mobile-hidden">
				<h3 class="center">Bài Đăng Đã Xem</h3>
				<div class="container-fluid">
					<div class="row" ng-repeat="post in previousPosts" style="padding: 5px 5px 5px 5px; margin-top: 10px; background-color: #EEEEEE; border-radius: 10px">
						<div class="col-sm-4 image no-padding">
							<a href="" ng-click="getPostDetail(post)"><img class="img-rounded" ng-src="{{post.picture.url}}" alt="Image"></a>
						</div>
						<div class="col-sm-8">
							<a href="" ng-click="getPostDetail(post)" ><b>{{post.title}}</b></a>
							<br>
							<b class="price">{{post.price|number:0}} VND</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
